.pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  position:fixed;
  bottom: 20px;
  left: 0;
}

.pagination__wrapper{
  background-color: deepskyblue;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 50px 10px rgba(0,0,0,0.5);
}

.pagination__button{
  background-color: white;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
}

.pagination__title{
  color: white;
  font-size: 20px;
}