.main{
  width: 100%;
  height: 100vh;
}

.main__wrapper{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.content{
  width: 60%;
  height: 100vh;
}