.nav{
  height: 50px;
  padding-inline: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.nav__list ul{
  display: flex;
  gap: 40px;
  list-style: none;

  li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
  }
}

.nav__link{
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.nav__link--active{
  color: dodgerblue !important;
  font-size: 20px;
  text-decoration: none;
}

.nav__buttonReload{
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-inline: 10px;
}